<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <title>Formularseite zur Erstellung eines Lebenslaufes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cvformular/style.css' %}">
</head>
<body>
<p>Formular-Seite</p>

</body>
</html>