<!DOCTYPE html>
<html lang="de">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Startseite von CVeasy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
</head>


<body>
    <header class="header">
        <div class="header-text">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Ausloggen</a>
            {% else %}
            <a href="../accounts/login/">Einloggen</a>
            {% endif %}
            <a href="#">About</a>
        </div>
    </header>

    <section class="landing-mainpage">
    {% if user.is_authenticated %}
    <h1>Willkommen bei CVeasy {{ username }}!</h1>
    <p>Du m&ouml;chtest dich auf einen Job bewerben und brauchst einen professionell aussehenden Lebenslauf, aber
        weisst nicht, wie das geht? Dann bist du hier genau richtig!</p>
    {% else %}
     <h1>Willkommen bei CVeasy!</h1>
     <p>Sie m&ouml;chten sich auf einen Job bewerben und brauchen einen professionell aussehenden Lebenslauf, aber
         wissen nicht, wie das geht? Dann sind Sie hier genau richtig! <a href="#">Erstellen</a> Sie sich einfach
         kurz ein Profil, und los geht's!</p>
     {% endif %}
    <div><a href="../cvformular/formular">Hier Lebenslauf erstellen</a></div>
    </section>
</body>

</html>